body {
  background-image: url("/img/background.jpg"),url("/img/background2.jpg");
  background-repeat: repeat-x, repeat-x;
  background-position: 0px 337px, 0px 0px;
  color: #335CAD;
resize: horizontal;
font-family: 'PT Serif Caption'; 
font-size: 90%;
height: 1100px;
}


h1 {
    color: black;
    text-align: center;
}
p {color: black;}


.per1{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}
.per2{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}
.per3{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}
.per4{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}
.per5{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}
.per6{
  position: relative;
  display: none;
  text-align: left;
  color: black;
  margin-top: 170px;
}

/* ---- Timeline ---- */

ol {
	position: relative;
	display: block;
	margin: 140px;
  margin-left: 0px;
  margin-right: 10px;
	height: 4px;
    resize: horizontal;
}

/* ---- Timeline elements ---- */

li {
	position: relative;
	top: -80px;
	display: inline-block;
	float: center;
	width: 150px;
  right: -200px;
  margin-right: 110px;
	transform: rotate(-45deg);
	font: bold 14px arial;
resize: horizontal;

}

li::before {
  transform: rotate(45deg);
  background-size: 103px 58px;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-right: 60px;
	content: "";
	position: absolute;
	top: 27px;
	left: -145px;
	display: block;
	height: 160px;	
resize: horizontal;
  }
li.a::before {
 background-image: url("/img/eurobasket_1987.jpg")
}
li.b::before {
  background-image: url("/img/euro_2004.jpg");
}
li.c::before {
  background-image: url("/img/olympic_2004.jpg");
}
li.d::before {
  background-image: url("/img/eurobasket_2005.jpg");
}
li.e::before {
  background-image: url("/img/mundobasket_2006.jpg");
}
li.f::before {
  background-image: url("/img/mundial_2014.jpg");
}

/* ---- Details ---- */

.details {
	display: none;
	position: absolute;
	left: -85px;
	top: 60px;
	padding: 15px;
	border-radius: 3px;
	border-right: 2px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	transform: rotate(45deg);
	font: 12px arial;
	background: #fff;
}
.details::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -9px;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
}

/* ---- Hover effects ---- */

li:hover {
	cursor: pointer;
  color: #B20000;
  font: bold 14px arial ;
}

li:hover .details {
	display: none;
  color: #444;
}
.clicked {
  font: bold 14px arial ;
color: #B20000;
	}
.clicked::before {
background-size: 123px 68px;
  top: 22px;
	left: -140px;
color: #B20000;
	}

.im1:hover {cursor: pointer;}
.im2:hover {cursor: pointer;}
.im3:hover {cursor: pointer;}
.im4:hover {cursor: pointer;}
.im5:hover {cursor: pointer;}
.im6:hover {cursor: pointer;}


entity {
    position: relative;
    cursor: pointer;
    font-style:italic;
    text-decoration: underline;
}

entity:hover:after {
    background: hsla(0,0%,0%,.9);
    border-radius: 5px;
    color: #f6f6f6;
    content: attr(data-content)'';
    font: bold 12px/30px sans-serif;
 
  border-left: 70px;
  left: -150px;

    position: absolute;
    top: 30px;
    width: 320px;
    max-height:300px;
    z-index:1;
    overflow: hidden;

}
entity:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.9);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 20px;
    width: 0;
}
entity:target {
    display: none;
}

#mytext{
  text-indent:25px;
  font-family: 'PT Serif Caption';
  display: none;
  color: black;
  margin-right:60px;
  position: relative;
}

 .ima1,.ima2,.ima3,.ima4,.ima5,.ima6{
    float:left;
    width:512px;
    height:288px;
    display: none;
    margin-right:25px;
    margin-bottom:25px;
   position: relative;
   }