body {
  background-image: url("/img/background.jpg"),url("/img/background2.jpg");
  background-repeat: repeat-x, repeat-x;
  background-position: 0px 334px, 0px 0px;
  color: #335CAD;
resize: horizontal;
font-family: 'PT Serif Caption'; 
font-size: 90%;
height: 1100px;
}


h1 {
    color: black;
    text-align: center;
}
p{color: black;}

/* ---- Timeline ---- */

ol {
	position: relative;
	display: block;
	margin: 140px;
  margin-left: 0px;
  margin-right: 10px;
	height: 4px;
}

/* ---- Timeline elements ---- */

li {
	position: relative;
	top: -100px;
	display: inline-block;
	float: center;
	width: 150px;
  right: -200px;
  margin-right: 110px;
	transform: rotate(-45deg);
	font: bold 14px arial;
}
li::before {
	content: "";
	position: relative;
	top: 73px;
	left: -64px;
	display: block;
	width: 7px;
	height: 7px;
	border: 10px solid #47B2B2;
	border-radius: 20px;
	background: #eee;
}



/* ---- Hover effects ---- */

li:hover {
	cursor: pointer;
  color: #B20000;
}
li:hover::before {
	border-color: #B20000;
}
li:hover .details {
	display: none;
  color: #444;
}
.clicked {
  font: bold 14px arial ;
color: #B20000;
	}
.clicked::before {
  border: 12px solid #B20000;
	}

entity {
    position: relative;
    cursor: pointer;
    font-style:italic;
    text-decoration: underline;
}

entity:hover:after {
    background: hsla(0,0%,0%,.9);
    border-radius: 5px;
    color: #f6f6f6;
    content: attr(data-content)'';
    font: bold 12px/30px sans-serif;
 
  border-left: 70px;
  left: -150px;

    position: absolute;
    top: 30px;
    width: 320px;
    max-height:300px;
    z-index:1;
    overflow: hidden;

}
entity:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.9);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 20px;
    width: 0;
}
entity:target {
    display: none;
}

#mytext{
  text-indent:25px;
  font-family: 'PT Serif Caption';
  display: none;
  color: black;
  margin-right:60px;
  position: relative;
}

 .im1,.im2,.im3,.im4,.im5,.im6{
    float:left;
    width:512px;
    height:288px;
    display: none;
    margin-right:25px;
    margin-bottom:25px;
   position: relative;
   }